.menu{
    @include allDivs;
    // color:white;
    // background: url(../dist/images/coffee_cup.png) no-repeat center center fixed;
    // background-size: cover;
    text-align: center;
    .element{
        margin: 20px 0;
    }
    span{
        display: block;
        
    }
    .name{
        font-size: $menuSpanNameSize;
    }
}

