body{
    padding: 0;
    margin:0;
    background: url(./images/RESTAURANT-01.jpg)no-repeat center center fixed;
    position: relative;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    
}

.content{

}

.main_title{
    text-align: center;
    background:rgba(0, 0, 0, 0.3);
    color:white;
}
